*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-header{
    padding: 10px;
    font-weight: bold;
}
.featured-item img{
    max-width: 100%;
    width: 1024px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.featured-item{
    display: flex;
    flex-direction: column;
    width: 520px;
    flex: 1;
    padding: 10px;
}
.featured{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.featured-text{
    padding: 10px;
    margin-left: 10px;
}
.featured-text p{
    margin-top: 10px;
}
.popular-item img{
    max-width: 100%;
    width: 1024px;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
}
.popular-item{
    display: flex;
    flex-direction: column;
    width: 520px;
    flex: 1;
    padding: 10px;
}
.popular{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.popular-text{
    padding: 10px;
    margin-left: 10px;
}
.popular-text p{
    margin-top: 10px;
}

.menu {
    display: none;
    background-color: #333;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.menu a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-btn {
    display: block;
    background-color: #333;
    color: white;
    padding: 14px 16px;
    text-align: center;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #575757;
}

button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 263px;
    border-radius: 10px;            
}
button:hover {
    background-color: #45a049;
}
@media (min-width: 600px) {
    .menu {
        display: flex;
        justify-content: flex-end;
        position: static;
    }

    .menu a {
        display: inline-block;
    }

    .menu-btn {
        display: none;
    }
}